#noBtn {
  background: rgba(255,255,255,0.8);
  color: #333;
  position: fixed; /* so it can move anywhere */
  left: 50%;        /* initial position */
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1000;    /* on top of everything */
}
